body{
    background-image: url(/carsevak/photos/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(/carsevak/image/best-car-background.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.cart-icon{
    width: 50px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.4s;
}
nav ul li a:hover::after{
    width: 50%;
}
#text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}
#text-box p{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
#text-box h1{
    font-size: 170px;
    line-height: 160px;
    margin-left: -10px;
    margin-bottom: 10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(image/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 10s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
#text-box h3{
    font-size: 40px;
    font-weight: 500;
}
#text-box #down-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
#text-box a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}
#text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
#social-media{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
#social-media img{
    width: 30px;
    display: block;
    margin: 25px 5px;
}
.container {
    margin: 0 auto;
    text-align: center;
}

.product {
    background-color: #f9f3cc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    max-width: 400px;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
}

.product-title {
    font-size: 20px;
    margin: 10px 0;
    color: #8eaccd;
    font-size: 40px;
}

.product-price {
    color: #e44d26;
    font-size: 30px;
}

.product-description {
    margin: 10px 0;
    font-size: 20px;
}
.product:hover{
    scale: 1.075;
    background-color: antiquewhite;
}