body{
    background-image: url(/photos/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    align-items: center;
}
header {
    background-color: rgba(41, 51, 92, 0.6);
  
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}
.logo img {
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 100px;
    border-radius: 50%;
}
nav li {
    display: inline;
    margin: 10px;
}
nav a {
    text-decoration: none;
    color: #F3A717;
    font-weight: bold;
    font-size: 30px;
}
form{
    background-color: rgba(168, 198, 136, 0.5);
    font-size: 50px;
    padding: 30px;
    border-radius: 50px;
    max-width: 800px;
    color: rgb(243, 167, 18)

}
input{
    height: 50px;
    background-color: transparent;
    font-size: 40px;
}
textarea{
    background-color: transparent;
    font-size: 30px;
}
label{
    height: 50px;
}
h3{
    display: block;
    background-color: rgba(228,87,46,0.3);
    border-radius: 50px;
    padding: 20px;
    color: rgb(243, 167, 18)
}
#bsubmit{
    color:white;
    padding: 10px,10px,10px,20px;
    margin: 10px;
    background-color: rgb(243, 167, 18);
}