body{
    background-image: url(/photos/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header {
    background-color: rgba(41, 51, 92, 0.6);
  
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}
.logo img {
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 150px;
    border-radius: 50%;
}
nav li {
    display: inline;
    margin: 10px;
}
nav a {
    text-decoration: none;
    color: #F3A717;
    font-weight: bold;
    font-size: 30px;
}
.logo img:hover{
    scale: 1.05;
}
nav a:hover{
    color: #BEF0FF;
    text-decoration: underline;
    transition: all ease 1.5;
}